@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Word Counter Results</h1>
    <img src="img/splash.jpg" alt="Letter printing blocks" class="letter-block">
    @using WordCounter.Models;
    @{
      string convertedLetterOrWordToLower = Model.ConvertLetterOrWordToLowerCase();
      string convertedStringToLower = Model.ConvertStringToLowerCase();
      string parsedLetterOrWordToCheck =
      Model.RemoveSpecialCharactersFromInput(convertedLetterOrWordToLower);
      string parsedStringToCheck = Model.RemoveSpecialCharactersFromInput(convertedStringToLower);
      int actualCount = Model.RunCountParseLogicBasedOnWordOrSentenceInput(parsedLetterOrWordToCheck, parsedStringToCheck);
    }

    @if (actualCount == 0)
    {
      <h3 class="align">Word: @Model.GetInputLetterOrWord()</h3>
      <h3 class="align">Phrase: @Model.GetInputStringToCheck()</h3>
      <p class="align">Your word @Model.GetInputLetterOrWord() did not appear in the given phrase.</p>
    }
    else
    {
      <h3 class="align">Word: @Model.GetInputLetterOrWord()</h3>
      <h3 class="align">Phrase: @Model.GetInputStringToCheck()</h3>
      <p class="align">Your word @Model.GetInputLetterOrWord() appears @actualCount times in your phrase .</p>
    }
    <a class="btn btn-primary link-align" href="/words" role="button">Play Again!</a>
  </div>
</div>
